@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply overflow-x-hidden text-gray-900 dark:text-white;
}

@layer utilities {
  .overlay-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.main-menu {
  position: relative;
}

.main-menu.submenu-active::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 2px;
  background: white;
  z-index: 52;
}

.main-menu button[data-active="true"] {
  background-color: #F9FAFB;
}

.main-menu [data-active="true"] {
  background-color: #F9FAFB;
  position: relative;
}

.main-menu [data-active="true"]::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 2px;
  background-color: white;
  z-index: 52;
}
